<section id="projects" class="flex flex-col items-center w-11/12 sm:w-full sm:px-6 pt-24 sm:pt-36 gap-10">
  <div class="flex flex-col sm:items-center w-full sm:w-3/4">
    <h1 class="text-3xl sm:text-4xl text-slate-200">
      <strong>Projects</strong>
    </h1>

    <projects-projects-card class="grid grid-cols-2 lg:grid-cols-3 grid-flow-row-dense mt-8 gap-4">
    </projects-projects-card>

    <hr class="w-full h-0.5 bg-gradient-to-r from-transparent via-cyan-800 to-transparent my-20 border-0">

    <projects-tecnologies class="flex flex-col sm:items-center w-full sm:w-3/4">
    </projects-tecnologies>
  </div>
</section>
