/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
  background: linear-gradient(to bottom, rgb(2, 6, 23), rgb(8, 51, 68)) no-repeat;
}

::-webkit-scrollbar-thumb {
  background-color: #0891b2;
  background-clip: content-box;
  border: 2px solid #0000;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgb(22 78 99);
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px rgb(22 78 99) inset;
  box-shadow: 0 0 0px 1000px rgb(22 78 99) inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}
